.page_container {
    box-sizing: border-box;
    padding: 29px 34px;
    background-image: url('../../styles/images/use-background.jpg');
    background-position: top 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 2435px;
    margin: 0 auto;
}